@charset "UTF-8";
.top::after {
  background-image: url(../img/works-fv-bg.png);
}

/* works  */
.works-wrap {
  padding: 5rem 2.5rem;
}

.works-wrap__con {
  flex-wrap: wrap;
  margin-top: 0;
}

.works-wrap__block {
  display: flex;
  flex-direction: column;
}

.works-wrap__block:nth-of-type(4) {
  margin-top: 5rem;
}

.works-wrap__block:nth-of-type(5) {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.works-wrap__block:nth-of-type(6) {
  margin-bottom: 5rem;
}

@media screen and (max-width: 1024px) {
  .works-wrap {
    max-width: 48.75rem;
    padding: 3.75rem 2.5rem;
  }

  .works-wrap__block {
    width: 46.1%;
  }

  .works-wrap__block:nth-of-type(1) {
    margin-top: 2.5rem;
  }

  .works-wrap__block:nth-of-type(2) {
    margin-top: 0;
  }

  .works-wrap__block:nth-of-type(3) {
    margin-top: 2.5rem;
    margin-bottom: 0;
  }

  .works-wrap__block:nth-of-type(4) {
    margin-top: 0;
    margin-bottom: 2.5rem;
  }

  .works-wrap__block:nth-of-type(5) {
    margin-top: 2.5rem;
    margin-bottom: 0;
  }

  .works-wrap__block:nth-of-type(6) {
    margin-top: 0;
    margin-bottom: 2.5rem;
  }

  .works-wrap__ttl h3 {
    font-size: 1.25rem;
  }

  .works-wrap__txt p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .works-wrap {
    max-width: 37.5rem;
  }

  .works-wrap__con {
    gap: 2.5rem;
  }

  .works-wrap__block {
    width: 100%;
  }

  .works-wrap__block:nth-of-type(1),
  .works-wrap__block:nth-of-type(2),
  .works-wrap__block:nth-of-type(3),
  .works-wrap__block:nth-of-type(4),
  .works-wrap__block:nth-of-type(5),
  .works-wrap__block:nth-of-type(6) {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .works-wrap {
    padding: 3.75rem 1.5rem;
  }

  .works-wrap__con {
    gap: 2.4rem;
  }
}
